<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.data>
    <DbProviderFactories>
      <add name="Dummy Provider Facrtory" 
           invariant="DummyProviderFactory" 
           description="Dummy Provider Facrtory for Tests" 
           type="DocaLabs.Storage.Core.Tests._DummyProviders.DummyProviderFactory, DocaLabs.Storage.Core.Tests" />
    </DbProviderFactories>
  </system.data>

</configuration>