<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="entityTableNameMap" type="DocaLabs.Storage.Core.Configuration.EntityTableNameSection, DocaLabs.Storage.Core"/>
  </configSections>

  <entityTableNameMap>
    <entity type="DocaLabs.Storage.Core.Tests.Configuration.FromConfigration, DocaLabs.Storage.Core.Tests" table="table-for-FromConfigration"/>
    <entity type="DocaLabs.Storage.Core.Tests.Utils.SampleEntityConfiguredInFile, DocaLabs.Storage.Core.Tests" table="table-name-from-file"/>
  </entityTableNameMap>

  <appSettings>
    <add key="k1" value="v11"/>
  </appSettings>
  
</configuration>