-- from http://code.msdn.microsoft.com/SQL-Azure-Federation-a2d0eccf (license MS-LPL v1.1)

---- create Federation Root, named CustomerFederation ...
--CREATE FEDERATION CustomerFederation(cid BIGINT RANGE)
--GO

--USE FEDERATION CustomerFederation(cid = 0) WITH RESET, FILTERING=OFF
--GO

-- create Federated tables, named Customers ...
CREATE TABLE [dbo].[Customers](
	[CustomerId] [bigint] NOT NULL,
	[Title] [nvarchar](8) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Suffix] [nvarchar](10) NULL,
	[CompanyName] [nvarchar](128) NULL,
	[SalesPerson] [nvarchar](256) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Phone] [nvarchar](25) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
) 
)--FEDERATED ON (cid = CustomerID)
GO


SET NOCOUNT ON
GO






