<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="externalSection1" type="DocaLabs.Utils.Tests.Configuration._Utils.TestConfigurationSection, DocaLabs.Utils.Tests" />
    <section name="externalSection2" type="DocaLabs.Utils.Tests.Configuration._Utils.TestConfigurationSection, DocaLabs.Utils.Tests" />
    <section name="anotherTestConfigurationSection" type="DocaLabs.Utils.Tests.Configuration._Utils.AnotherTestConfigurationSection, DocaLabs.Utils.Tests" />
  </configSections>

  <externalSection1 testValue="externalTestValue1"/>

  <externalSection2 testValue="externalTestValue2"/>

  <anotherTestConfigurationSection/>

  <appSettings>
    <clear/>
    <add key="externalKey1" value="externalValue1"/>
    <add key="externalKey2" value="externalValue2"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="externalName1" connectionString="externalString1" providerName="System.Data.SqlClient" />
    <add name="externalName2" connectionString="externalString2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>