<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="defaultSection1" type="DocaLabs.Utils.Tests.Configuration.TestConfigurationSection, DocaLabs.Utils.Tests" />
    <section name="defaultSection2" type="DocaLabs.Utils.Tests.Configuration.TestConfigurationSection, DocaLabs.Utils.Tests" />
    <section name="anotherTestConfigurationSection" type="DocaLabs.Utils.Tests.Configuration.AnotherTestConfigurationSection, DocaLabs.Utils.Tests" />
  </configSections>

  <defaultSection1 testValue="defaultTestValue1"/>

  <defaultSection2 testValue="defaultTestValue2"/>

  <anotherTestConfigurationSection/>
  
  <appSettings>
    <clear/>
    <add key="defaultKey1" value="defaultValue1"/>
    <add key="defaultKey2" value="defaultValue2"/>
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="defaultName1" connectionString="defaultString1" providerName="System.Data.SqlClient" />
    <add name="defaultName2" connectionString="defaultString2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>