<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.data>
    <DbProviderFactories>
      <add name="Dummy Provider Facrtory" invariant="DummyProviderFactory" description="Dummy Provider Facrtory for Tests" type="DocaLabs.Storage.Core.Integration.Tests.DummyProvider.DummyProviderFactory, DocaLabs.Storage.Core.Integration.Tests" />
    </DbProviderFactories>
  </system.data>
  
</configuration>